.header {
  background-color: var(--color-primary);
  padding: 20px 30px;
  border-bottom: 6px solid var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: var(--size-max-width);
  width: 100%;
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_item {
  display: inline;
}

.menu_item:first-child {
  margin-right: 14px;
}

.menu_link {
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 574px) {
  .header_content {
    flex-direction: column;
  }

  .nav {
    margin-top: 50px;
  }

  .menu_item {
    display: block;
    text-align: center;
  }

  .menu_item:first-child {
    margin-right: 0;
    margin-bottom: 14px;
  }
}
