.wrapper {
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: var(--size-max-width);
  width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 230px;
  column-gap: 40px;
}

.title {
  font-family: 'Exo', sans-serif;
  font-size: 3em;
  font-weight: 500;
}

.text {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 50px;
}

.signup {
  padding: 15px 24px;
  border-radius: 0.4em;
  background-color: #0c51a1;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-white);
  transition: all .2s;
}

.signup:hover {
  background-color: #3498db;
}

@media screen and (max-width: 791px) {
  .hero {
    grid-template-columns: 1fr 0;
  }
}
